*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body{
    height: 100%;
    width: 100%;
}
.parent{
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 30px;
}
.card{
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border:1px solid #dadada;
  padding : 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}
.center{
  background-color: red;
}
.center h3{
  font-size:18px;
  font-weight:500px;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400px;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display:flex;
  gap :5px;
}
.center .tag h4{
  font-size: 14px;
  color: #111;
  padding: 3px 6px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bababa;
  padding-top: 15px;
}
